# Gradle
.gradle/
build/

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*~
Matförslag
bin/*
src/dist/resources/butikslayouter/IKEA.json
src/dist/resources/inköpslistor/V21-2026_inköpslista.txt
src/dist/resources/inköpslistor/V22-2026_inköpslista.txt
