# Gradle
.gradle/
build/

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*~
Matförslag
bin/main/Butikslayout/ButiksLayout.class
bin/main/Butikslayout/ButiksLayoutRepository.class
bin/main/Butikslayout/FileButiksLayoutRepository.class
bin/main/ENUMS/Enhet.class
bin/main/ENUMS/Kategori.class
bin/main/GUI/LayoutWindow.class
bin/main/GUI/MenuWindow.class
bin/main/GUI/MenuWindowRekomenderare.class
bin/main/GUI/MenuWindowRekomenderare$1.class
bin/main/GUI/MenuWindowRekomenderare$2.class
bin/main/GUI/MenuWindowRekomenderare$2$1.class
bin/main/GUI/MenuWindowRekomenderare$3.class
bin/main/GUI/RecepthanterareGUI.class
bin/main/GUI/RecipeWindow.class
bin/main/main/CLI.class
bin/main/main/Inköpslista.class
bin/main/main/Inköpslista$IngrediensTotal.class
bin/main/main/Main.class
bin/main/Recept/FileReceptRepository.class
bin/main/Recept/ReceptFabrik.class
bin/main/Recept/ReceptFabrik$ReceptIngrediens.class
bin/main/Recept/ReceptFörslag.class
bin/main/Recept/ReceptRepository.class
bin/main/Veckomeny/FileVeckomenyRepository.class
bin/main/Veckomeny/VeckomentyRepository.class
bin/main/Veckomeny/Veckomeny.class
bin/main/Veckomeny/Veckomeny$VeckomenyPost.class
